*.o
*.obj
*.tlog
*.pdb
*.idb
*.ipdb
*.iobj
.vs
work
*.wlf
*.vcd
ikascc
ikaopll
ikaopm
log.txt
sn76489_audio.vhd
*.rom
romimage_*.h
transcript
.vs
.vscode
controller/pico2w/build/_deps/no_os_fatfs-src
