//Copyright (C)2014-2026 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.02_SP2 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Tue 06 09 05:57:19 2026

IO_LOC "flash_spi_di" 61;
IO_PORT "flash_spi_di" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_do" 62;
IO_PORT "flash_spi_do" IO_TYPE=SSTL33_II PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_wp_n" 57;
IO_PORT "flash_spi_wp_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_hold_n" 63;
IO_PORT "flash_spi_hold_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_bl" 49;
IO_PORT "lcd_bl" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_blue[4]" 27;
IO_PORT "lcd_blue[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_blue[3]" 28;
IO_PORT "lcd_blue[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_blue[2]" 29;
IO_PORT "lcd_blue[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_blue[1]" 30;
IO_PORT "lcd_blue[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_blue[0]" 31;
IO_PORT "lcd_blue[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_green[5]" 32;
IO_PORT "lcd_green[5]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_green[4]" 33;
IO_PORT "lcd_green[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_green[3]" 34;
IO_PORT "lcd_green[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_green[2]" 35;
IO_PORT "lcd_green[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_green[1]" 36;
IO_PORT "lcd_green[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_green[0]" 37;
IO_PORT "lcd_green[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_red[4]" 38;
IO_PORT "lcd_red[4]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_red[3]" 39;
IO_PORT "lcd_red[3]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_red[2]" 40;
IO_PORT "lcd_red[2]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_red[1]" 41;
IO_PORT "lcd_red[1]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_red[0]" 42;
IO_PORT "lcd_red[0]" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_vsync" 26;
IO_PORT "lcd_vsync" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_hsync" 25;
IO_PORT "lcd_hsync" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_de" 48;
IO_PORT "lcd_de" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "lcd_clk" 77;
IO_PORT "lcd_clk" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led" 71;
IO_PORT "led" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ws2812" 79;
IO_PORT "ws2812" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_LOC "intr" 86;
# IO_PORT "intr" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_clk" 59;
IO_PORT "flash_spi_clk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_cs_n" 60;
IO_PORT "flash_spi_cs_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_LOC "pa_en" 51;
# IO_PORT "pa_en" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_intr" 80;
IO_PORT "spi_intr" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_miso" 18;
IO_PORT "spi_miso" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_LOC "vdp_so[1]" 75;
# IO_PORT "vdp_so[1]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_LOC "vdp_so[0]" 74;
# IO_PORT "vdp_so[0]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
# IO_LOC "vdp_so_clk" 73;
# IO_PORT "vdp_so_clk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dipsw" 72;
IO_PORT "dipsw" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_mosi" 19;
IO_PORT "spi_mosi" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_clk" 20;
IO_PORT "spi_clk" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_cs_n" 17;
IO_PORT "spi_cs_n" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "button[0]" 88;
IO_PORT "button[0]" IO_TYPE=SSTL33_II PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "clk14m" 76;
IO_PORT "clk14m" IO_TYPE=SSTL33_II PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk27m" 4;
IO_PORT "clk27m" IO_TYPE=SSTL33_II PULL_MODE=NONE BANK_VCCIO=3.3;
# IO_LOC "i2s_din" 54;
# IO_PORT "i2s_din" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
# IO_LOC "i2s_lrck" 55;
# IO_PORT "i2s_lrck" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
# IO_LOC "i2s_bclk" 56;
# IO_PORT "i2s_bclk" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
# IO_LOC "vdp_si[1]" 16;
# IO_PORT "vdp_si[1]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
# IO_LOC "vdp_si_clk" 85;
# IO_PORT "vdp_si_clk" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
# IO_LOC "vdp_si[0]" 15;
# IO_PORT "vdp_si[0]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "button[1]" 87;
IO_PORT "button[1]" IO_TYPE=SSTL33_II PULL_MODE=DOWN BANK_VCCIO=3.3;
