//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.02 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Tue 10 28 18:45:49 2025

IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[0]" 35,36;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[1]" 37,38;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[2]" 39,40;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=3.3;
IO_LOC "led" 71;
IO_PORT "led" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ws2812" 79;
IO_PORT "ws2812" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "intr" 86;
IO_PORT "intr" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pa_en" 51;
IO_PORT "pa_en" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_intr" 80;
IO_PORT "spi_intr" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_miso" 18;
IO_PORT "spi_miso" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vdp_so[1]" 75;
IO_PORT "vdp_so[1]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vdp_so[0]" 74;
IO_PORT "vdp_so[0]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "vdp_so_clk" 73;
IO_PORT "vdp_so_clk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "button[0]" 88;
IO_PORT "button[0]" IO_TYPE=SSTL33_II PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "clk14m" 76;
IO_PORT "clk14m" IO_TYPE=SSTL33_II PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk27m" 4;
IO_PORT "clk27m" IO_TYPE=SSTL33_II PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i2s_bclk" 56;
IO_PORT "i2s_bclk" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_mosi" 19;
IO_PORT "spi_mosi" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_cs_n" 17;
IO_PORT "spi_cs_n" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "i2s_din" 54;
IO_PORT "i2s_din" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "vdp_si[0]" 15;
IO_PORT "vdp_si[0]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "vdp_si_clk" 85;
IO_PORT "vdp_si_clk" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "button[1]" 87;
IO_PORT "button[1]" IO_TYPE=SSTL33_II PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "i2s_lrck" 55;
IO_PORT "i2s_lrck" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "dipsw" 72;
IO_PORT "dipsw" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_clk" 20;
IO_PORT "spi_clk" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "vdp_si[1]" 16;
IO_PORT "vdp_si[1]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
