//Copyright (C)2014-2026 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.03 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Fri 07 24 06:38:27 2026

IO_LOC "dio[7]" 71;
IO_PORT "dio[7]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dio[6]" 72;
IO_PORT "dio[6]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dio[5]" 18;
IO_PORT "dio[5]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dio[4]" 19;
IO_PORT "dio[4]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dio[3]" 20;
IO_PORT "dio[3]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dio[2]" 17;
IO_PORT "dio[2]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dio[1]" 31;
IO_PORT "dio[1]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dio[0]" 30;
IO_PORT "dio[0]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "reset_n" 49;
IO_PORT "reset_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_clk" 86;
IO_PORT "io_clk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_sel[2]" 80;
IO_PORT "io_sel[2]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_sel[1]" 42;
IO_PORT "io_sel[1]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "io_sel[0]" 41;
IO_PORT "io_sel[0]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ws2812" 79;
IO_PORT "ws2812" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2s_dout" 54;
IO_PORT "i2s_dout" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2s_lrck" 55;
IO_PORT "i2s_lrck" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2s_bclk" 56;
IO_PORT "i2s_bclk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pa_en" 51;
IO_PORT "pa_en" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_clk" 59;
IO_PORT "flash_spi_clk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_cs_n" 60;
IO_PORT "flash_spi_cs_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom_spi_clk" 26;
IO_PORT "srom_spi_clk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom1_spi_cs_n" 53;
IO_PORT "srom1_spi_cs_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom0_spi_cs_n" 29;
IO_PORT "srom0_spi_cs_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fpga_so[1]" 75;
IO_PORT "fpga_so[1]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fpga_so[0]" 74;
IO_PORT "fpga_so[0]" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fpga_so_clk" 73;
IO_PORT "fpga_so_clk" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_di" 61;
IO_PORT "flash_spi_di" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_do" 62;
IO_PORT "flash_spi_do" IO_TYPE=SSTL33_II PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_wp_n" 57;
IO_PORT "flash_spi_wp_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "flash_spi_hold_n" 63;
IO_PORT "flash_spi_hold_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom_spi_hold_n" 25;
IO_PORT "srom_spi_hold_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom_spi_wp_n" 28;
IO_PORT "srom_spi_wp_n" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom_spi_do" 27;
IO_PORT "srom_spi_do" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "srom_spi_di" 16;
IO_PORT "srom_spi_di" IO_TYPE=SSTL33_II PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dipsw" 48;
IO_PORT "dipsw" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "button[1]" 87;
IO_PORT "button[1]" IO_TYPE=SSTL33_II PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "button[0]" 88;
IO_PORT "button[0]" IO_TYPE=SSTL33_II PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "clk14m" 76;
IO_PORT "clk14m" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk27m" 4;
IO_PORT "clk27m" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "fpga_si[0]" 77;
IO_PORT "fpga_si[0]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "fpga_si[1]" 15;
IO_PORT "fpga_si[1]" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "fpga_si_clk" 85;
IO_PORT "fpga_si_clk" IO_TYPE=SSTL33_II PULL_MODE=UP BANK_VCCIO=3.3;
